body {
    padding: 30px;
}

h1{
    float: right;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Rock Salt;
    width: 90%;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background-color: #eeeeee;
}

p {
    font-family: Schoolbell, Rock Salt, sans-serif;
    line-height: 20px;
}