body {
    padding: 30px;
}

#header h1 {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Rock Salt;
    width: 90%;
}

h1 {
    font-family: serif;
}

h2 {
    font-family: Schoolbell;
}

.step {
    background-color: #eeeeee;
    padding: 2em;
    margin-right: 30%;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background-color: #eeeeee;
}

p {
    font-family: Schoolbell, Rock Salt, sans-serif;
    line-height: 20px;
}

.highlights {
    background-color: #ffaaff;
}

.passedObj {
    background-color: #ff6666;
}

.urlPattern {
    background-color: #ff9e67;
}

.jsp {
    background-color: #8888cc;
}

.param {
    background-color: #ffff88;
}

.controllerName {
    background-color: #99ee77;
}

.packageName {
    background-color: #66ffff;
}

#legend {
    position: fixed;
    top: 30%;
    right: 10%;
    font-family: Schoolbell;
}

#legend div {
    padding: .5em;
}